.welcomeBtn{
    border-radius: 0;
    width: 100%;
}

.welcomeJumbotronBtn{
    border-radius: 0;
}

.welcomeJumbotron{
    border-radius: 0;
}

.connectionInput{
    border-radius: 0;
}

.connectionBtn{
    border-radius: 0;
}

.inscriptionInput{
    border-radius: 0;
}

.inscriptionBtn{
    border-radius: 0;
}

.accountBtn{
    border-radius: 0;
}

.accountInput{
    border-radius: 0;   
}

.mushroomAddBtn{
    border-radius: 0;   
}

.mushroomAddInput{
    border-radius: 0;  
}

.listBtn{
    border-radius: 0;
}

.mushroomBtn{
    border-radius: 0;  
}

.mushroomsBtn{
    border-radius: 0;  
}
/* 
.navbar{
    border-radius: 0;
    margin: 0;
    background-color: pink;
    font-size: 18px;
}

.navbar-inverse .navbar-brand{
    color:red;
} */