
.fa, .fa-star {
    color: #a6a6a6;
}

.fa:hover, .fa-star:hover {
    text-decoration: none;
    color: #E88A25;
}

.checked {
    color: #F9E14B;
  }

.welcomeBtn{
    border-radius: 0;
    width: 100%;
}

.welcomeJumbotronBtn{
    border-radius: 0;
}

.welcomeJumbotron{
    border-radius: 0;
}

.connectionInput{
    border-radius: 0;
}

.connectionBtn{
    border-radius: 0;
}

.inscriptionInput{
    border-radius: 0;
}

.inscriptionBtn{
    border-radius: 0;
}

.accountBtn{
    border-radius: 0;
}

.accountInput{
    border-radius: 0;   
}

.mushroomAddBtn{
    border-radius: 0;   
}

.mushroomAddInput{
    border-radius: 0;  
}

.listBtn{
    border-radius: 0;
}

.mushroomBtn{
    border-radius: 0;  
    
}

.mushroomsBtn{
    border-radius: 0;  
}


.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

img{
    max-width:300px;
}

.navbar-light .navbar-nav .nav-link {
    color:#F6F7BD;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #E6AC27;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #E6AC27;
}


.navbar-light .navbar-brand, .navbar-light .navbar-brand {
    color: #F6F7BD;;
}


nav, .navbar, .navbar-light, .navbar-expand-lg, .nav-link{
    background-color: #655643;
    position:static;
    font: 18px;
    color: #F6F7BD;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #E6AC27;
}


.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(128,188,163,.5);
    background-color: #80BCA3;
    border-radius: 0;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(128,188,163,.5);
    background-color: #80BCA3;
    border-radius: 0;
}

.btn-primary {
    color: #fff;
    background-color: #80BCA3;
    border-color: #80BCA3;
    border-radius: 0;
}

.btn-secondary {
    color: #fff;
    background-color: #80BCA3;
    border-color: #80BCA3;
    border-radius: 0;
}

body{
    background-color: #eee;
}

.accountInput, .connectionInput, .inscriptionInput, .inputEdit{
    background-color: #eee;
    border-radius: 0;
    outline: none;
    border: none;
    border-bottom: solid 1px #a6a6a6;
    margin-right: 20px;
}

.accountInput:focus, .connectionInput:focus, .inscriptionInput:focus, .inputEdit:focus{
    background-color: #a6a6a6;
    outline: none;
    border:none;
}

.table .thead-dark th {
    color: #fff;
    background-color: #a6a6a6;
    border: none;
}
