/* Mise en page fiches */
.page-break {
    page-break-after: always;
}
body {
    max-width: 1020px;
    max-height: 670px;
    max-width: 1020px;
    max-height: 670px;
    margin-top: 9px;
    border: solid black;
}
.fiche {
    width: 45%; 
    height: 42%;    
    font-family: 'Gill Sans', sans-serif;
    display: inline-block;
    margin-right: 10px;
    border: solid black;
    margin-top: 10px;
}

/* Mise en page élément fiches */
.imgslm {
    display: inline-block;
    margin-top: 12px;
    width: 15%;
}
.imgcercle {
    display: inline-block;
    margin-top: 8px;
    width: 30px;
}
.SLMC {
    display: inline-block;  
    width: 85%; 
}
.SLM {
    text-align: center;
    border-bottom: solid black; 
    padding-bottom: 15px;
    font-size: 20px; 
}
.comestibilite {
    text-align: right; 
    font-size: 20px;
}
.champignon {
    text-align: center;
}
.qrcode {
    width: 17%;
}
.nom {
    font-size: 36px;
}
.nomlatin {
    font-size: 22px;
}

.container {
    height: 75px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: yellow;
}
.container span {
    background-color: white;
    vertical-align: middle;
}
.sub-container {
    float: right;
    text-align: right;
}
.sub-container::after {
    content: '';
    clear: both;
}