/* Mise en page fiches */
.page-break {
    page-break-after: always;
}
.fiche {
    width: 535px; 
    height: 348px;    
    font-family: 'Gill Sans', sans-serif;
}
/* Mise en page élément fiches */
.imgslm {
    display: inline-block;
    width: 15%;
    margin-top: 10px;
}
.imgcercle {
    display: inline-block;
    margin-top: 8px;
    width: 30px;
}
.SLMC {
    display: inline-block;  
    width: 82%;     
}
.SLM {
    text-align: center;
    border-bottom: solid black; 
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.comestibilite {
    text-align: right; 
    font-size: 20px;
    display: inline-block;
    width: 92%;
}
.champignon {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.qrcode {
    width: 17%;
}
.nom {
    font-size: 36px;
}
.nomlatin {
    font-size: 22px;
}
.container {
    height: 95px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.sub-container {
    float: right;
    text-align: right;
}
.sub-container::after {
    content: '';
    clear: both;
}

/* Tout les cercles pour les comestibles*/
.cercleblue {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: darkblue;
    margin-right: 2px;
    display: inline-block;
}
.cerclegrey {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: grey;
    margin-right: 2px;
    display: inline-block;
}
.cercleorange {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: orange;
    margin-right: 2px;
    display: inline-block;
}
.cerclered {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: red;
    margin-right: 2px;
    display: inline-block;
}

table, th, td {
    width: 100%;
}
