/* Mise en page fiches */
.page-break {
    page-break-after: always;
}
.fiche {
    width: 535px; 
    height: 348px;
    max-width: 535px;
    max-height: 348px; 
    font-family: 'Gill Sans', sans-serif;
}
/* Mise en page élément fiches */
.imgslm {
    display: inline-block;
    width: 80px;
    margin-top: 10px;
}
.SLMC {
    display: inline-block;  
    width: 438px;     
}
.SLM {
    text-align: center;
    border-bottom: solid black; 
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.comestibilite {
    text-align: right; 
    font-size: 20px;
    display: inline-block;
    width: 92%;
}
.champignon {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.qrcode {
    width: 17%;
    display: inline-block;
}
.nomlatin {
    font-size: 22px;
}
.nom {
    font-size: 16px;  
}
.info {
    text-align: left;
    display: inline-block;
    width: 420px;
}

/* Tout les cercles pour les comestibles*/
.cercleblue {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: darkblue;
    margin-right: 2px;
    display: inline-block;
}
.cerclegrey {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: grey;
    margin-right: 2px;
    display: inline-block;
}
.cercleorange {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: orange;
    margin-right: 2px;
    display: inline-block;
}
.cerclered {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: red;
    margin-right: 2px;
    display: inline-block;
}

table {
    max-width: 100%;
}
